body {
  color: {{ .Site.Params.header_text_color }};
  font-family: 'PT Serif', serif;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'PT Serif', serif;
}

.header-container h1,
.header-container h2,
.header-container h3,
.header-container h4 {
  color: {{ .Site.Params.header_text_color }};
}
