html{
    scroll-behavior: smooth;
}

.highlight pre {
  background-color: #f5f5f5 !important;
  border-radius: 10px;
}

.CodeMirror {
    font-size: .8em;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

#header_img {
    margin-top: 2em;
    margin-bottom: 1em;
}

.list-inline {
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

figure figcaption {
  /* border: 1px dotted blue; */
  font-size: .85em;
  text-align: center;
  color: slategray;
}

.footnotes hr {
  display: none;
}

figure figcaption h4 {
  /* border: 1px dotted blue; */
  font-size: .95em;
  display: inline;
  text-align: center;
  color: midnightblue;
}

figure {
  text-align: center;
}

.hint {
  border-color: #66bbff;
  background-color: #eff8ff;
  border-radius: 0.2em;
}

.card {
  width: 130px;
  height: 195px;
  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img-top {
  display: inline;
}

textarea.textarea-autosize {
  height: 2.25rem;
  min-height: 2.25rem;
  resize: none;
  overflow-y:hidden;
}

textarea.textarea-autosize.form-control-lg {
  height: 3.75rem;
  min-height: 3.75rem;
}

textarea.textarea-autosize.form-control-sm {
  height: 2rem;
  min-height: 2rem;
}

div.col-md-8{
  font-size: 18px;
}

div.small {
  font-size: 14px;
}

/*https://css-tricks.com/sticky-table-of-contents-with-scrolling-active-states/*/

.toc {
  flex: 0 0 16rem;
  font-size: 14px;
  position: sticky;
  top: 2rem;
  align-self: start;

  nav {
    width: 16rem;
    padding: 1rem;
  }

  img {
    height: 1em;
  }

  nav > ul {
    list-style: none;
  }

  nav > ul > li:first-child {
    margin-top: 0;
  }
}

.flex {
    display: flex;
}

aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: sticky;
  top: 2rem;
  align-self: start;
}

aside nav ul a:hover {
    opacity: 0.5;
}

aside nav ul ul {
    padding-inline-start: 1rem;
}

div.col-md-8 h2{
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 1rem;
    border-bottom: solid darkgray;
    border-width: 2px;
}

a code {
  text-decoration-line: underline;
}