<main class="container flex">
    <!-- Page Content -->
    {{ range $index, $element := where (.Site.RegularPages.ByParam "sec") "Section" "in" .Site.Params.mainSections }}
        <div class="col-md-8 col-md-offset-2">
            {{ replace .Content "<table>" "<table class='table table-striped table-hover'>" | safeHTML }}
        </div>
        <aside class="toc">
            {{ partial "toc.html" . }}
        </aside>
    {{ end }}
</main>


<style>
h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: 500;
}

/*@media screen and (max-width: 800) {
  .toc {
    display: none;
  }
}*/

</style>